:root {
    --primary-color: rgb(84, 123, 216);
}
html, body, h1, h2, p, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('imgs/wallpaper2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
button {
    padding: 1rem 1.5rem;
    border: none;
    outline: 0;
    cursor: pointer;
}
h2 {
    color: white;
}
#conteiner, button, .winnerSide {
    border-radius: 100px;
}
#conteiner {
    background-color: var(--primary-color);
    width: 300px;
    height: 350px;
    margin:  0.5rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 2px dotted white;
    padding: 0.5rem;

}

.winnerSide {
    object-fit: cover;
    object-position: top center;
    width: 250px;
    height: 250px;
}
@media only screen and (min-width: 768px) {
    body {
        display: block;    
    }
    #conteiner {
        width: 500px;
    }
}
